<div class="accordion__item">
  <button class="accordion__header">
    Корректоры
    <div class="circle">
      <div class="cross"></div>
    </div>
  </button>
  <div class="content">
    <ul class="content__list">
      <li class="content__item">для стопы</li>
      <li class="content__item">мизинца ноги</li>
      <li class="content__item">большого пальца стопы</li>
      <li class="content__item">подпяточники</li>
      <li class="content__item">разделители пальцев</li>
      <li class="content__item">напальчники</li>
      <li class="content__item">подушечки под стопу</li>
      <li class="content__item">пелоты продольного свода</li>
      <li class="content__item">для пальцев рук</li>
      <li class="content__item">для обуви</li>
    </ul>
  </div>
  <div class="line"></div>
</div>
