<div class="accordion__item">
	<button class="accordion__header">
		Ортопедические стельки
		<img class="accordionButton__plus" src="@img/plus.svg" alt="+">
		<!-- <img class="accordionButton__minus" src="@img/minus.svg" alt="-"> -->
	</button>
	<div class="content">
		<ul class="content__list">
			<li class="content__item">зимние</li>
			<li class="content__item">полустельки</li>
			<li class="content__item">гелевые стельки</li>
			<li class="content__item">ортопедические</li>
			<li class="content__item">магнитные и массажные</li>
			<li class="content__item">антибактериальные, от пота</li>
			<li class="content__item">спортивные стельки</li>
			<li class="content__item">детские</li>
			<li class="content__item">стельки для увеличения роста</li>
		</ul>
	</div>
	<div class="line"></div>
</div>