<div class="accordion__item">
	<button class="accordion__header">
		Ортопедические подушки
		<div class="circle">
			<div class="cross"></div>
		  </div>
	</button>
	<div class="content">
		<ul class="content__list">
			<li class="content__item">для сна</li>
			<li class="content__item">детские</li>
			<li class="content__item">для путешествий</li>
			<li class="content__item">под спину</li>
			<li class="content__item">бандажи</li>
			<li class="content__item">поясничные корсеты</li>
			<li class="content__item">коленные</li>
			<li class="content__item">шейные</li>
			<li class="content__item">плечевые и для рук</li>
		</ul>
	</div>
	<div class="line"></div>
</div>