<div class="accordion__item">
	<button class="accordion__header">
		Ортопедические стельки
		<img class="accordionButton__plus" src="@img/plus.svg" alt="+">
		<!-- <img class="accordionButton__minus" src="@img/minus.svg" alt="-"> -->
	</button>
	<div class="content">
		<ul class="content__list">
			<li class="content__item">бандажи</li>
			<li class="content__item">массажеры</li>
			<li class="content__item">похудение</li>
			<li class="content__item">для сухой кожи</li>
			<li class="content__item">лечебные пластыри</li>
			<li class="content__item">средства от пота</li>
			<li class="content__item">антихрап</li>
			<li class="content__item">стельки для уменьшения размера обуви</li>
			<li class="content__item">ледоходы</li>
			<li class="content__item">вкладыши в обувь</li>
			<li class="content__item">галоши</li>
			<li class="content__item">шнурки</li>
			<li class="content__item">косметика для обуви</li>
			<li class="content__item">автопятки</li>
		</ul>
	</div>
</div>