<div class="accordion__item">
		<button class="accordion__header">
			Ортопедический турмалин
		<div class="circle">
			<div class="cross"></div>
		  </div>
	</button>
	<div class="content">
		<ul class="content__list">
			<li class="content__item">турмалиновые наколенники</li>
			<li class="content__item">турмалиновые пояса</li>
			<li class="content__item">наплечники с турмалином</li>
			<li class="content__item">магнитотерапия</li>
			<li class="content__item">шунгит и нефрит</li>
		</ul>
	</div>
	<div class="line"></div>
</div>