<div class="accordion__item">
		<button class="accordion__header">
		Ортопедические стельки
		<img class="accordionButton__plus" src="@img/plus.svg" alt="+">
		<!-- <img class="accordionButton__minus" src="@img/minus.svg" alt="-"> -->
	</button>
	<div class="content">
		<ul class="content__list">
			<li class="content__item">турмалиновые наколенники</li>
			<li class="content__item">турмалиновые пояса</li>
			<li class="content__item">наплечники с турмалином</li>
			<li class="content__item">магнитотерапия</li>
			<li class="content__item">шунгит и нефрит</li>
		</ul>
	</div>
</div>