<div class="accordion__item">
	<div class="accordion__title">
		<span>
			Ортопедические стельки
		</span>
	</div>
	<div class="content">
		<ul class="content__list">
			<li class="content__item">турмалиновые наколенники</li>
			<li class="content__item">турмалиновые пояса</li>
			<li class="content__item">наплечники с турмалином</li>
			<li class="content__item">магнитотерапия</li>
			<li class="content__item">шунгит и нефрит</li>
		</ul>
	</div>
	<div class="accordionButton">
		<img class="accordionButton__plus" src="@img/plus.svg" alt="+">
		<img class="accordionButton__minus" src="@img/minus.svg" alt="-">
	</div>
</div>