.menu {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	
	//RESPONSIVE 
	@media (max-width: 768px){
		font-size: 18px;
		position: fixed;
		flex-direction: column;
		text-align: center;
		// top: 12%;
		top: 100px;
		height: 190px;
	}

	&_hide {
		//RESPONSIVE 
		@media (max-width: 992px){
			display: none;
		}
		//RESPONSIVE 
		@media (max-width: 768px){
			display: block;
		}
	}
	&__list {
		margin: 0 auto;
		display: flex;
		width: 64.8%;
		justify-content: space-between;

		//RESPONSIVE 
		@media (max-width: 992px){
			width: 55.8%;
		}
		@media (max-width: 768px){
			flex-direction: column;
			height: 133px;
		}

	}

	&__link {
		
	}
}
