<nav class="menu">
  <ul class="menu__list">
    <li class="menu_hide"><a data-goto=".page__section_1" href="#" class="menu__link">О нас</a></li>
    <li class="menu__link_hiden">
      <a data-goto=".page__section_2" href="#" class="menu__link">Прием ведут</a>
    </li>
    <li><a data-goto=".page__section_3" href="#" class="menu__link">Магазин</a></li>
    <li class="menu__link_hiden">
      <a data-goto=".page__section_4" href="#" class="menu__link">Контакты</a>
    </li>
  </ul>
</nav>
