.footer {
	background: url("@img/footer1.svg") top center/100% no-repeat;
	font-size: 18px;
	// height: 280px;
	padding: 50px 0px 50px 0px;
	font-family: AlumniSans;

	&__bottom {
		margin: 50px 0px 0px 0px;
		display: flex;
		flex: 0 0 33.33%;
		justify-content: space-between;
		align-items: center;
		color: #fff;

		&>.phone {
			font-family: Inter;
		}
	}

}

.time {
	text-align: center;
}

.low {
	padding: 60px 0px 0px 0px;
	text-align: center;
	font-family: AlumniSans;
	font-style: italic;
	color: #fff;
	font-weight: 400;
	width: 100%;
	&>a {
		font-size: 15px;
	}
}

.time {
	&>p {
		margin: 0px 0px 13px 0px;
		
	}
}