.wripper__header {
	position: absolute;
	width: 100%;
	z-index: 15;
}
.header {
	font-family: Inter;
	font-weight: 400;
	display: flex;
	padding: 18px 0;
	font-size: 18px;
	align-items: center;
	border-bottom: 1px solid white;
	justify-content: space-between;

	//RESPONSIVE 
	@media (max-width: 879px){
		font-size: 15px;
	}

	//RESPONSIVE 
	@media (max-width: 576px){
		padding: 14px 0;
	}
}