.page__section_1 {
	background: url("@img/Background.svg") center 0px no-repeat;
	// height: 1200px;
	padding: 0px 0px 20% 0px;
	//RESPONSIVE 
	@media (max-width: 1200px){
		background: url("@img/Background.svg") center -100px no-repeat;
	}
	@media (max-width: 1066px){
		background: url("@img/Background.svg") center -200px no-repeat;
	}
	@media (max-width: 880px){
		background: url("@img/Background.svg") center -250px no-repeat;
	}
	@media (max-width: 640px){
		background: url("@img/Background.svg") center -300px no-repeat;
	}
	@media (max-width: 576px){
		background: url("@img/Background.svg") -450px 0px no-repeat;
		padding: 0px 0px 30% 0px;
	}
	@media (max-width: 450px){
		background: url("@img/Background.svg") -450px -60px no-repeat;
		padding: 0px 0px 30% 0px;
	}
	
	&__wrapper {
		display: flex;
		padding: 101px 0px 0px 0px;
		align-items: center;
		justify-content: space-between;

		//RESPONSIVE 
		
		//RESPONSIVE 
		@media (max-width: 576px){ 
			flex-direction: column-reverse;	
		}
	}
}
.row {
	//RESPONSIVE 
	@media (max-width: 768px){
		width: 53%;
	}
	&__offer {
		width: 41%;
		@media (max-width: 1067px) {
			width: 52%;
		}
		@media (max-width: 880px) {
			width: 47%;
		}
		@media (max-width: 798px) {
			width: 50%;
		}
		//RESPONSIVE 
		@media (max-width: 576px){ 
			margin: 0px auto 0px 0px;
			width: 100%;
		}
		
	}
	&__img {
		width: 48%;
		@media (max-width: 1067px) {
			width: 40%;
		}

		//RESPONSIVE 
		@media (max-width: 576px){
			margin: 0px 0px 20px 0px;
			width: 66.7%;
		}
	}
}


.offer {
	font-family: AlumniSans;
	font-size: 50px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	// max-width: 480px;
	margin: 0px 0px 20px 0px;

	
	//RESPONSIVE
	@media (max-width: 1298px) {
		font-size: 45px;
	}
	//RESPONSIVE
	@media (max-width: 1067px) {
		font-size: 40px;
		margin: 0px 0px 10px 0px;
	}
	//RESPONSIVE
	@media (max-width: 880px) {
		font-size: 35px;
	}
	@media (max-width: 768px) {
		font-size: 30px;
	}
	@media (max-width: 648px) {
		font-size: 25px;
	}

	//RESPONSIVE 
	@media (max-width: 576px){
		font-size: 40px;
	}
	//RESPONSIVE 
	@media (max-width: 440px){
		font-size: 35px;
	}
}

.subOffer {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 15px;
	max-width: 455px;
	color: #fff;
	margin: 0px 0px 44px 0px;
	//RESPONSIVE
	@media (max-width: 1067px) {
		font-size: 14px;
		margin: 0px 0px 20px 0px;
	}
	@media (max-width: 768px) {
		font-size: 12px;
		margin: 0px 0px 20px 0px;
	}
	@media (max-width: 648px) {
		font-size: 10px;
	}
	//RESPONSIVE 
	@media (max-width: 576px){
		font-size: 14px;
	}
}

.offer__img {
	width: 100%;
}
